$switch-track-inset-height: 24px !default;
$switch-track-inset-width: 46px !default;
$switch-thumb-height: 18px !default;
$switch-thumb-width: 18px !default;
$switch-thumb-top: calc(50% - 9px) !default;